import React, { FC } from 'react';
import styles from './{{pascalCase name}}.module.css';

type Props = unknown;

const {{pascalCase name}}: FC<Props> = () => (
  <div></div>
);

export { {{pascalCase name}} };
