import React, { FC } from 'react';
import styles from './{{pascalCase name}}.module.css';

type Props = unknown;

const {{pascalCase name}}: FC<Props> = () => (
  <main className="h-full"></main>
);

export { {{pascalCase name}} };
